<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229375012277-rb3jsr1j0usi4om2ke5ojin594pi4mtb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229375012277-rb3jsr1j0usi4om2ke5ojin594pi4mtb</string>
	<key>API_KEY</key>
	<string>AIzaSyCg--SDldwQ3Iu8ByD96N-9D8d5Z3MSb8s</string>
	<key>GCM_SENDER_ID</key>
	<string>229375012277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NoCompany.Mandatory-1</string>
	<key>PROJECT_ID</key>
	<string>mandatory1-e7d0a</string>
	<key>STORAGE_BUCKET</key>
	<string>mandatory1-e7d0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:229375012277:ios:46fbedf5c55009f5497dfc</string>
</dict>
</plist>
